<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Portfolio Website</title>
    <link rel="stylesheet" href="/index.css" />

  </head>
  <body>
    <div class="container">
      <nav>
        <img src="images/logo1-removebg-preview.png" class="logo" />
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="about1.html">About</a></li>
          <li><a href="#">contact</a></li>
          <!-- <li><a href="#">Portfolio</a></li> -->
          <li><a href="skill1.html">Skills</a></li>
          
        </ul>
        <a href="projects.html" class="btn">Projects</a>
      </nav>

      <div class="content">
        <span class="title">Frontend Web Developer</span>
        <h1>Hello, I’m <span>Almaaz</span></h1>
        <p>
          I’m a student right now i am persuing B.Tech from NARIANA COLLEGE OF ENGINEERING 
          currenty i am in 3rd year.
        </p>
        <a href="./CV.pdf" download="" class="btn">Download CV</a>

        



      </div>

    </div>
  </body>
</html>