<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>

</head>
<link rel="stylesheet" href="/login1.css">

<body>


    <marquee class="mr" behavior="alternate"  direction="left">This form is only for the registerd member</marquee>
  
 <div class="container">
       

    <h1 class="cn">Login </h1>
        <h2 class="cn">please enter your deatil</h2>

        <form action="/login" method="post">
<div class="is">
                <input type="text" name="fname" placeholder="Enter your  name">
            </div>
            <div class="is">
                <input type="email" name="email" placeholder="Enter your  E-mail">
            </div>
            <div class="is">
                <input type="text" name="password" placeholder="Enter your  password">
            </div>

        
        
       

<input type="submit" class="btn btn-danger" value="login"></input>
</form>

    </div>
</body>

</html>