<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>The gym Fitness</title>
</head>

<body>
    <header class="header">
        <!-- left  box for logo -->
        <div class="kl">

            <div class="left">
                <img src="img/logo12.png" alt="">
                <div class="rt">
                    The Gym Fitness

                </div>

            </div>
            <!-- mid box for navbar -->

            <div class="mid">

                <ul class="navbar">
                    <li><a class="active" href="#">Register</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Fitness calculator</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="/project/login.html" target="_blank">Login</a></li>
                </ul>
            </div>
            <!-- right box for button  -->

            <div class="right">
                <button id="yu" class="btn">Call us</button>

                <button id="yu" class="btn">E-mail us</button>

                <button id="yu" class="btn">Log in <a href="/project/login.html"></a> </button>
            </div>
        </div>
    </header>
    <div class="hr">

        <h1 class="iop">Join the best gym in kanpur now</h1>

    </div>

    <div class="container">
        <h2>Enter your details</h2>
        <form action="/register" method="post">

            <div class="form-group">
                <input type="text" name="fname" placeholder="Enter your  name">
            </div>
            <div class="form-group">
                <input type="email" name="email" placeholder="Enter your  E-mail">
            </div>
            <div class="form-group">
                <input type="number" name="phone" placeholder="Enter your  mobile no.">
            </div>
            <div class="form-group">
                <input type="text" name="gender" placeholder="Enter your  gender">
            </div>
            <div class="form-group">
                <input type="text" name="locality" placeholder="Enter your  locality">
            </div>
            <div class="form-group">
                <input type="text" name="password" placeholder="Enter your  password">
            </div>
            <div class="form-group">
                <input type="text" name="cpassword" placeholder="Re-enter password">
            </div>

            <input type="submit" class="btn" value="register"></input>
        </form>

    </div>
    </div>
    <div class="content">
        <img src="img/bgg.jpg" alt="">
    </div>
    <div class="op">
        <img src="img/dv.jfif" alt="">
    </div>
    <div class="c-bum">
        <img src="img/logo.jpg" alt="">
    </div>



    <div class="lo">
        <a class="as" href="./login" target="_blank">Already enrolled click here to <span id="sppp">Log in</span></a>
    </div>





</body>

</html>